h1 {
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  padding: 1%;
}

h2 {
  text-align: center;
  padding: 0.5%;
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
}

h3 {
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

h4 {
  text-align: center;
}

.product {
  text-align: start !important;
}

.inicio {
  background: linear-gradient(to top, #9bb98e 50%, #ffffff 50%);
}

.banner {
  background-image: url("./imagenes/pexels-nietjuh-1906439.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.navbar {
  font-family: lato;
  font-weight: 500;
  font-size: 24px;
  background-color: #e1eee1 !important;
}

.nav-link:hover {
  background-color: #d2dfd2;
}
.dropdown-item:active {
  background-color: #9bb98e !important;
}

.btn-login {
  padding: 6px 10px;
  margin: 6px 18px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: #9bb98e;
  cursor: pointer;
}

.animacion {
  display: flex;
  width: auto;
  height: 450px;
  margin: 10% 20%;
  padding: 0px;

}

.img-anim {
  width: 0;
  flex-grow: 0.9;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.animacion .img-anim:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

#search {
  width: 90%;
  padding: 10px;
  border: 1px solid #bd7ee2;
  border-radius: 5px;
  background-color: #e5bcfc;
}

input[type="submit"] {
  background-color: #9a70b0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.card {
  font-family: lato;
}

.card-title {
  font-family: lato;
  font-weight: bolder;
  font-style: oblique;
}
.card-text {
  font-family: lato;
}


.btn-primary {
  background-color: #9a70b0 !important;
  border-color: #9a70b0 !important;
  font-family: lato;
  font-style: oblique;
}

#search {
  margin: 0.5%;
  font-family: lato;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 90%;
}

.contacto-background {
  display: grid;
  margin: 0 auto;
  /*division en columnas*/
  grid-template-columns: repeat(3, 1fr);
  /*cuantas columnas ocupa el padre?*/
  grid-column-start: 1;
  grid-column-end: 3;
  /*-1 tambien hace referencia al último*/
  /*valor del gap*/
  gap: 30px;
  background: linear-gradient(to top, #a16c85 50%, #ffffff 50%);
  font-family: lato;
  font-size: small;
  font-style: italic;
}

.aside-contacto {
  /*margin: 60px 20px;*/
  display: grid;
  margin: 0 auto;
  /*division en columnas*/
  grid-template-rows: repeat(2, 1fr);
  /*cuantas columnas ocupa el padre?*/
  grid-row-start: 1;
  grid-row-end: 2;
  /*-1 tambien hace referencia al último*/
  /*valor del gap*/
  gap: 30px;
}

.btn-contacto {
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px;
  background-color: #9bb98e;
  cursor: pointer;
}

.register-background {
  background: linear-gradient(to top, #9bb98e 50%, #ffffff 50%);
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lato;
  font-size: small;
  font-style: italic;
}

.form-register {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f2;
  border-radius: 8px;
  padding: 10px;
  border: rgb(199, 199, 199) solid 1px;
  padding: 10px;
  margin: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group>input,
select {
  width: auto;
  padding: 2px 5px;
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid #a16c85;
  background-color: #ffffff;
  height: 3.5vh;
}

.btn-registro {
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px;
  background-color: #ae8196;
  cursor: pointer;
}


.nosotros-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "vivero vivero vivero" "foto1"
    "foto2" "foto3" "foto4" "foto5";
  column-gap: 10px;
  row-gap: 10px;
}

.nosotros-container>div {
  text-align: center;
  font-family: lato;
  font-style: italic;
  font-size: 20px;
}

.vivero {
  grid-area: 1 / 1 / span 1 / span 3;
}

.foto1 {
  grid-area: 1 / 4 / span 1 / span 1;
}

.foto2 {
  grid-area: 2 / 1 / span 1 / span 1;
}

.foto3 {
  grid-area: 2/ 2 / span 1 / span 1;
}

.foto4 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.foto5 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.interior-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 2%;
  ;
}

.botanico {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product{
  margin-left: 4%;
}

.insumos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 2%;
}

.exterior-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 2%;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

  .inicio,
  .contacto-background,
  .register-background {
    background: #9bb98e;
  }
}

@media only screen and (max-width: 600px) {

  .inicio,
  .contacto-background,
  .register-background {
    background: #a16c85;
  }
}

/* Estilos para el div con la clase "modal" */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para el div con la clase "modal-content" */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Animación */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0px;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0px;
    opacity: 1
  }
}

/* Estilos para el elemento con la clase "modal-header" */
.modal-header {
  padding: 0px 0px;
  background-color: #a16c85;
  color: white;
  width: 100%;
  max-width: 80%;
}

/* Estilos para el elemento con la clase "modal-body" */
.modal-body {
  padding: 10px;
  font-size: 16px;
}

.modal-body>input
 {
  width: auto;
  padding: 2px 5px;
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid #a16c85;
  background-color: #ffffff;
  height: 3.5vh;
}
/* Estilos para el elemento con la clase "modal-footer" */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
}

/* Estilos para el botón con la clase "close" */
.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  color: #ae8196;
  background-color: transparent;
  border: none;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* Estilos para el botón con la clase "login" */
.login{

  font-size: 18px;
  background-color: #ae8196;
  color: whitesmoke;
  border: black solid 1px;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  top: 0;
  right: 0;
  margin: 10px;
}
#abrirModal{
  cursor:pointer;
}

    .footer {
      padding: 8px;
      background: #ffffff;
      text-align: center;
    }